body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
    }

    .top-container {
        background-color: rgb(228,249,245);
        position: relative;
        padding-top: 100px;
    }

    .top-cloud {
        position: absolute;
        right: 300px;
        top: 40px;
    }

    h1 {
color: #66bfbf;
font-size: 5.625rem;
margin: 50px auto 0 auto;
font-family: "Sacramento", cursive;
}

h2 {
color: #66bfbf;
font-family: "Montserrat", sans-serif;
font-size: 2.5rem;
font-weight: normal;
padding-bottom: 10px;
}

.bottom-cloud {
position: absolute;
left: 300px;
bottom: 420px;
}

.middle-container {
    margin: 100px 0;
}

.intro {
    width: 30%;
    margin: auto;
}

#border-radius {
    border-radius: 50%;
    border: 5px solid #66bfbf;
}

.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}

h3 {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
}

p {
    line-height: 2;
}


.btn {
    background: #11cdd4;
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
}


.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
}

a {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}